<div class="main" *ngIf="authorized">
    <div class="row justify-content-center">
        <div class="login-col form-section">
            <div class="login-container">
                <div class="logo">
                    <img src="../../../content/images/logo.png" alt="" />
                    <span>Please enter your details to login.</span>
                </div>

                <form class="form" role="form" (ngSubmit)="login(loginform)" #loginform="ngForm" name="loginform">
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="text" id="email" name="email" placeholder="EMAIL ADDRESS" [(ngModel)]="username" minlength=6 maxlength=50 #emailInput="ngModel"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                            <div *ngIf="emailInput.errors && isFormSubmited" class="error-text">
                                <span class="errorText" [hidden]="!emailInput.errors.required">
                                    Email is required.
                                </span>
                                <span class="errorText" [hidden]="!emailInput.errors.pattern">
                                    Email is Invalid.
                                </span>
                            </div>

                        </div>
                        <div class="col-xs-12">
                            <input type="password" name="password" id="password" placeholder="PASSWORD" [(ngModel)]="password" required #passwordinput="ngModel"
                                minlength=6 maxlength=16>
                            <div *ngIf="passwordinput.errors && isFormSubmited" class="error-text">
                                <span class="errorText" [hidden]="!passwordinput.errors.required">
                                    Password is required.
                                </span>
                                <span class="errorText" [hidden]="!passwordinput.errors.minlength">
                                    Password length must be between 6 to 16 characters.
                                </span>
                                <span class="errorText" [hidden]="!passwordinput.errors.maxlength">
                                    Password length must be between 6 to 16 characters.
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="check-box pull-left">
                                <input class="form-check-input" type="checkbox" name="rememberMe" id="Remember" [(ngModel)]="rememberMe" checked>
                                <label for="Remember">Remember me</label>
                            </div>
                            <a class="forgot pull-right" (click)="requestResetPassword()">Forgot Password ?</a>
                        </div>
                        <div class="col-xs-12 margin-top-30">
                            <input type="submit" class="btn" value="LOGIN">
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--<div class="alert alert-warning">
              <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
              <a class="alert-link" (click)="register()" jhiTranslate="global.messages.info.register.link">Register a new account</a>
          </div> -->