<section class="">
    <div class="container member-container">
        <div class="heading">
            <h1>
                <i class="add-event" *ngIf="isEventRes"></i>{{event_id ? 'EDIT':'ADD'}} EVENT</h1>
        </div>
        <div class="form-section add-edit-member" >
            <form id="eventForm" role="form" #eventForm="ngForm" name="eventForm">
                <div class="row">
                    <div class="col-xs-12">
                        <label for="">EVENT NAME</label>
                        <input type="text" name="eventname" id="field_first_name" [(ngModel)]="event.eventName" #eventname="ngModel" minlength="5"
                            maxlength="50" required (ngModelChange)="trim(event,'eventName')" />
                        <div *ngIf="eventname.errors && isFormSubmited" class="error-text">
                            <span class="errorText" [hidden]="!eventname.errors.required">
                                Event Name required.
                            </span>
                            <span class="errorText" [hidden]="!eventname.errors.minlength">
                                Event Name length must be between 5 to 50 characters.
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12 checkbox-col">
                        <label for="">FLOOR</label>
                        <div class="">
                            <div class="check-box" *ngFor="let floor of floors">
                                <input type="checkbox" id="{{floor.floorNo}}" [(ngModel)]="floor.checked" name="{{floor.floorNo}}">
                                <label for="{{floor.floorNo}}">{{floor.floorNo}}</label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div *ngIf="isFormSubmited && !isFloorValid()" class="error-text">
                            <span class="errorText">
                                Please select atleast one floor.
                            </span>
                        </div>
                    </div>
                    <div *ngIf="isfloor">
                        <span class="errorText">
                            No Floor found.
                        </span>
                    </div>
                    <div class="col-sm-6 col-xs-12 date-picker">
                        <label for="">EVENT DATE</label>
                        <div class="" (click)="showFromDatePicker=!showFromDatePicker;$event.stopPropagation();">
                            <input type="text" placeholder="YYYY/MM/DD" class="width100 padded-input" id="field_date" name="date" value="{{(event.fromDate) ?  (event.fromDate | date: 'yyyy/MM/dd') : 'yyyy/mm/dd'}}"
                                #date readonly required />
                            <i class="fa fa-calendar-o input-icon"></i>
                        </div>
                        <div *ngIf="showFromDatePicker" (click)="$event.stopPropagation()">
                            <datepicker name="date_calendar" [(ngModel)]="event.fromDate" #date_calendar="ngModel" (selectionDone)="onDone()">
                            </datepicker>
                        </div>
                        <div *ngIf="!event.fromDate && isFormSubmited">
                            <span class="errorText">
                                Date is required.
                            </span>
                        </div>
                        <div *ngIf="!isValidDate() && isFormSubmited && event.fromDate && !event_id">
                            <span class="errorText">
                                Please select future date.
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 date-picker">
                        <label for="" class="to-date">TO</label>
                        <div class="" (click)="showToDatePicker=!showToDatePicker;$event.stopPropagation();">
                            <input type="text" placeholder="" class="" id="field_to_date" name="todate" #fromdate readonly value="{{(event.toDate) ?  (event.toDate | date: 'yyyy/MM/dd') : 'yyyy/mm/dd'}}"
                                />
                            <!--placeholder="Start Date YYYY/MM/DD"-->
                            <i class="fa fa-calendar-o input-icon"></i>
                        </div>
    
                        <div *ngIf="showToDatePicker" (click)="$event.stopPropagation()">
                            <datepicker class="date-picker-ui" name="to_date_calendar" [(ngModel)]="event.toDate" #fromdate="ngModel" (selectionDone)="onDone()">
                            </datepicker>
                        </div>
                        <div *ngIf="isFormSubmited && !isDateValid()">
                            <span class="errorText">
                                To Date should be greater then or equal to from date.
                            </span>
                        </div>
                        <div *ngIf="isFormSubmited && !isSelectedFromDate()">
                            <span class="errorText">
                                Please select To Date.
                            </span>
                        </div>
                        <div *ngIf="!isValidToDate() && isFormSubmited && event.toDate && isDateValid() && event_id">
                            <span class="errorText">
                                Please select future date.
                            </span>
                        </div>
    
    
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-6 col-xs-12">
                        <label for="">EVENT TIME</label>
                        <div class="" (click)="showStartTimePicker=!showStartTimePicker;$event.stopPropagation();">
                            <input type="text" placeholder="Start Time" class="" id="field_start_time" name="start_time"
                            value="{{ starttime | date: 'hh:mm:a'}}"  readonly required />
                            <i class="fa fa-clock-o input-icon font18"></i>
                        </div>
                        <div *ngIf="showStartTimePicker" (click)="$event.stopPropagation()"> 
                            <timepicker class="timepicker" [(ngModel)]="starttime" name="start_time_picker" #start_time_picker="ngModel" (selectionDone)="onDone()" >
                            </timepicker>
                        </div>
                        <div *ngIf="isFormSubmited && !isSelectedFromDate()">
                            <span class="errorText">
                                Please select from time.
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <label for="" class="to-date">TO</label>
                        <div class="" (click)="showEndTimePicker=!showEndTimePicker;$event.stopPropagation();">
                            <input type="text" placeholder="End Time" class="" id="field_end_time" name="end_time"
                            value="{{ endtime | date: 'hh:mm:a'}}"  readonly required />
                            <i class="fa fa-clock-o input-icon font18"></i>
                        </div>
                        <div *ngIf="showEndTimePicker" (click)="$event.stopPropagation();"> 
                            <timepicker class="timepicker" [(ngModel)]="endtime" name="end_time_picker" #end_time_picker="ngModel" (selectionDone)="onDone()" >
                            </timepicker>
                        </div>
                        <div *ngIf="isFormSubmited && !isDateTimeValid()">
                            <span class="errorText">
                                End date time should be greater than start date time.
                            </span>
                          </div>
                    </div>
                    <div class="col-xs-12" >
                        <label for="">PEATIX URL</label>
                        <input type="text" placeholder="https://www.myevent.com" class="rounded category" name="webUrl" id="field_url" [(ngModel)]="event.webUrl"
                            #url="ngModel" (ngModelChange)="trim(event,'webUrl')" pattern="{{urlPattern}}" maxlength="255"/>
                        <div *ngIf="url.errors && isFormSubmited" class="error-text">
                            <span class="errorText" [hidden]="!url.errors.pattern">
                                Invalid peatix url.
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12" *ngIf="event_id">
                        <label for="">SELECT CSV</label>
                        <div class="clearfix"></div>
                        <div class="upload-btn-wrapper">
                                <button class="upload-btn">Browse</button>
                                <input #eventCSVFile type="file" placeholder="Select file" (change)="setFileData($event, 'file', true)" name="fileupload" id="fileupload"
                                accept=".csv">
                        </div>
                        <span style="position:relative;display: block;"><span class="upload-data" (click)="downloadCsv(event_id)"><u style="cursor: pointer">{{event.fileName}}</u></span><i class="roundi" (click)="deleteCsv(event_id)" *ngIf=event.fileName>x</i></span>
                    </div>
                    <div class="col-xs-12 button-col">
                        <a (click)="cancel()" class="btn grey-btn">CANCEL</a>
                        <input type="submit" value="{{event_id ? 'SAVE':'SUBMIT'}}" (click)="save(eventForm)" class="btn">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>