<div>
    <h2>
        <span jhiTranslate="eosApp.event.home.title">Events</span>
        <button class="btn btn-primary float-right jh-create-entity create-event" [routerLink]="['/', { outlets: { popup: ['event-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="eosApp.event.home.createLabel">
            Create new Event
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="events">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="eventName"><span jhiTranslate="eosApp.event.eventName">Event Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="eosApp.event.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fromDate"><span jhiTranslate="eosApp.event.fromDate">From Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="toDate"><span jhiTranslate="eosApp.event.toDate">To Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="licenceKey"><span jhiTranslate="eosApp.event.licenceKey">Licence Key</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let event of events ;trackBy: trackId">
                <td><a [routerLink]="['../event', event.id ]">{{event.id}}</a></td>
                <td>{{event.eventName}}</td>
                <td>{{event.description}}</td>
                <td>{{event.fromDate | date:'medium'}}</td>
                <td>{{event.toDate | date:'medium'}}</td>
                <td>{{event.licenceKey}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../event', event.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event/'+ event.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event/'+ event.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
