<form name="deleteForm" (ngSubmit)="confirmDelete(event.id)">
    <div class="modal-header">
        <h4 class="modal-title pull-left">Confirmation</h4>
        <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p>Are you sure you want to delete <b>{{event.eventName}}</b> from event list?</p>
    </div>
    <div class="modal-footer multipal-btn">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span >No</span>
        </button>
        <button type="submit" class="btn btn-secondary pull-right">
            <span class="fa fa-remove"></span>&nbsp;<span >Yes</span>
        </button>
    </div>
</form>
