<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEventLabel" jhiTranslate="eosApp.event.home.createOrEditLabel">Create or edit a Event</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!event.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="event.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eosApp.event.eventName" for="field_eventName">Event Name</label>
            <input type="text" class="form-control" name="eventName" id="field_eventName"
                [(ngModel)]="event.eventName" required minlength="5" />
            <div [hidden]="!(editForm.controls.eventName?.dirty && editForm.controls.eventName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.eventName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.eventName?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 5 }">
                   This field is required to be at least 5 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eosApp.event.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="event.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eosApp.event.fromDate" for="field_fromDate">From Date</label>
            <div class="d-flex">
                <input id="field_fromDate" type="datetime-local" class="form-control" name="fromDate" [(ngModel)]="event.fromDate"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.fromDate?.dirty && editForm.controls.fromDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fromDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.fromDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eosApp.event.toDate" for="field_toDate">To Date</label>
            <div class="d-flex">
                <input id="field_toDate" type="datetime-local" class="form-control" name="toDate" [(ngModel)]="event.toDate"
                  />
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="eosApp.event.eventFloors" for="field_eventFloors">Event Floors</label>
            <select class="form-control" id="field_eventFloors" multiple name="eventFloors" [(ngModel)]="event.eventFloors">
                <option [ngValue]="getSelected(event.eventFloors, floorOption)" *ngFor="let floorOption of floors; trackBy: trackFloorById">{{floorOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
