
<div *ngIf="event">
    <h2><span jhiTranslate="eosApp.event.detail.title">Event</span> {{event.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="eosApp.event.eventName">Event Name</span></dt>
        <dd>
            <span>{{event.eventName}}</span>
        </dd>
        <dt><span jhiTranslate="eosApp.event.description">Description</span></dt>
        <dd>
            <span>{{event.description}}</span>
        </dd>
        <dt><span jhiTranslate="eosApp.event.fromDate">From Date</span></dt>
        <dd>
            <span>{{event.fromDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="eosApp.event.toDate">To Date</span></dt>
        <dd>
            <span>{{event.toDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="eosApp.event.eventFloors">Event Floors</span></dt>
        <dd>
            <span *ngFor="let eventFloors of event.eventFloors; let last = last">
                <a [routerLink]="['/floor', eventFloors?.id ]">{{eventFloors.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'event/'+ event.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
