<router-outlet></router-outlet>

<div class="right-section">
    <h1>
        Event Management
        <a [routerLink]="['/add-event']" class="add-button add-member">
            <i></i> Add New Event</a>
    </h1>
    <div class="list-block event-list multi-event-list">
        <div class="head">Event List</div>
        <div class="head-row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
                <span>Event Name</span>
                <a class="m-name"></a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                <span>Event Date</span>
                <a class="m-date"></a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                <span>To Date</span>
                <a class="m-date"></a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-3">
                <span>Edit Event</span>
                <a class="m-edit"></a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-3">
                <span>Delete Event</span>
                <a class="m-delete"></a>
            </div>
        </div>
        <div class="" *ngIf="isRes && events.length<=0">
            <p style="text-align:center;">No Upcoming Events Found !</p>
        </div>
        <!-- <span infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="10" *ngIf="isRes"> -->
        <!-- <span *ngFor="let event of events | paginate: { itemsPerPage: 10, currentPage: p, totalItems: res.count }; let i = index"> -->
        <span *ngFor="let event of events; let i = index">
            <div class="list-row white" *ngIf="i%2==0">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
                    <!-- <span>{{event.eventName}}</span> -->
                    <!-- <a href="{{event.webUrl ? 'event.webUrl':'#'}}" target="_blank">{{event.eventName}}</a> -->
                    <span><a class="title" *ngIf="!event.webUrl">{{event.eventName}}</a></span>
                    <span><a class="title" *ngIf="event.webUrl" href="{{event.webUrl}}"target="_blank">{{event.eventName}}</a></span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <a class="edit-date">{{event.fromDate | date: 'yyyy/MM/dd'}}</a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <a class="edit-date">{{event.toDate | date: 'yyyy/MM/dd'}}</a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-3">
                    <a (click)="editEvent(event.id)" class="edit-m"><u>Edit</u></a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-3">
                    <!-- <a (click)="deleteEvent(event.id,i)" class="delete-m">Delete</a> -->
                    <a [routerLink]="['/', { outlets: { popup: 'event/'+ event.id + '/delete'} }]" class="delete-m"><u>Delete</u></a>
                </div>
            </div>
            <div class="list-row grey" *ngIf="i%2!=0">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
                    <!-- <span>{{event.eventName}}</span> -->
                    <span><a class="title" *ngIf="!event.webUrl">{{event.eventName}}</a></span>
                    <span><a class="title" *ngIf="event.webUrl" href="{{event.webUrl}}" target="_blank">{{event.eventName}}</a></span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <a href="javascript:void();" class="edit-date">{{event.fromDate | date: 'yyyy/MM/dd'}}</a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <a href="javascript:void();" class="edit-date">{{event.toDate | date: 'yyyy/MM/dd'}}</a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-3">
                    <a (click)="editEvent(event.id)" class="edit-m"><u>Edit</u></a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-3">
                    <!-- <a (click)="deleteEvent(event.id,i)" class="delete-m">Delete</a> -->
                    <a [routerLink]="['/', { outlets: { popup: 'event/'+ event.id + '/delete'} }]" class="delete-m"><u>Delete</u></a>
                </div>
            </div>
        </span>
        <!-- </span> -->
    </div>
    <div class="pagination" *ngIf="isRes  && pages.length > 1 && events.length!=0">
        <span>
            <a (click)="onPrev()" class="previousback" [attr.disabled]=" isFirst ? '' : null" [ngClass]="{'disabled' : isFirst}">Previous</a>
        </span>
        <span *ngFor="let p of pages; let i=index">
            <span *ngIf="first<=i+1 && i+1<=last">
                <a (click)="setPage(i,$event)" [ngClass]="{'act':i==page}">{{i+1}} </a>
            </span>
        </span>
        <span>
            <a (click)="onNext()" class="previousback" [attr.disabled]=" isLast ? '' : null" [ngClass]="{'disabled' : isLast}">Next</a>
        </span>
        <span class="pagedisplay">Page {{page +1}} of {{pages.length}}</span>
    </div>
</div>