<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySoundCodeLabel" jhiTranslate="eosApp.soundCode.home.createOrEditLabel">Create or edit a Sound Code</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!soundCode.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="soundCode.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eosApp.soundCode.licenseNo" for="field_licenseNo">License No</label>
            <input type="text" class="form-control" name="licenseNo" id="field_licenseNo"
                [(ngModel)]="soundCode.licenseNo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eosApp.soundCode.uid" for="field_uid">Uid</label>
            <input type="text" class="form-control" name="uid" id="field_uid"
                [(ngModel)]="soundCode.uid"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
