<div>
    <h2>
        <span jhiTranslate="eosApp.soundCode.home.title">Sound Codes</span>
        <button class="btn btn-primary float-right jh-create-entity create-sound-code" [routerLink]="['/', { outlets: { popup: ['sound-code-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="eosApp.soundCode.home.createLabel">
            Create new Sound Code
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="soundCodes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="eosApp.soundCode.licenseNo">License No</span></th>
            <th><span jhiTranslate="eosApp.soundCode.uid">Uid</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let soundCode of soundCodes ;trackBy: trackId">
                <td><a [routerLink]="['../sound-code', soundCode.id ]">{{soundCode.id}}</a></td>
                <td>{{soundCode.licenseNo}}</td>
                <td>{{soundCode.uid}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../sound-code', soundCode.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sound-code/'+ soundCode.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sound-code/'+ soundCode.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
