
<div *ngIf="soundCode">
    <h2><span jhiTranslate="eosApp.soundCode.detail.title">Sound Code</span> {{soundCode.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="eosApp.soundCode.licenseNo">License No</span></dt>
        <dd>
            <span>{{soundCode.licenseNo}}</span>
        </dd>
        <dt><span jhiTranslate="eosApp.soundCode.uid">Uid</span></dt>
        <dd>
            <span>{{soundCode.uid}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sound-code/'+ soundCode.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
