<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{email.success.title}">JHipster activation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
	<p th:text="#{email.activation.greeting(${user.firstName})}">Dear</p>
	<p th:text="#{email.success.body}">Your eos account has been
		successfully activated. Please download the app</p>
	<span> <a th:href="@{|https://manage.appurl.io/|}"
		th:text="#{email.success.link}">Activation Link</a>
	</span>
	<p>

		<span th:text="#{email.activation.text2}">Regards, </span> <br /> <em
			th:text="#{email.signature}">JHipster.</em>
	</p>

</body>
</html>