<div>
    <h2>
        <span jhiTranslate="eosApp.eventGuest.home.title">Event Guests</span>
        <button class="btn btn-primary float-right jh-create-entity create-event-guest" [routerLink]="['/', { outlets: { popup: ['event-guest-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="eosApp.eventGuest.home.createLabel">
            Create new Event Guest
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="eventGuests">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="eosApp.eventGuest.email">Email</span></th>
            <th><span jhiTranslate="eosApp.eventGuest.event">Event</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let eventGuest of eventGuests ;trackBy: trackId">
                <td><a [routerLink]="['../event-guest', eventGuest.id ]">{{eventGuest.id}}</a></td>
                <td>{{eventGuest.email}}</td>
                <td>
                    <div *ngIf="eventGuest.eventId">
                        <a [routerLink]="['../event', eventGuest.eventId  ]" >{{eventGuest.eventId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../event-guest', eventGuest.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event-guest/'+ eventGuest.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event-guest/'+ eventGuest.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
