
<div *ngIf="eventGuest">
    <h2><span jhiTranslate="eosApp.eventGuest.detail.title">Event Guest</span> {{eventGuest.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="eosApp.eventGuest.email">Email</span></dt>
        <dd>
            <span>{{eventGuest.email}}</span>
        </dd>
        <dt><span jhiTranslate="eosApp.eventGuest.event">Event</span></dt>
        <dd>
            <div *ngIf="eventGuest.eventId">
                <a [routerLink]="['/event', eventGuest.eventId]">{{eventGuest.eventId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'event-guest/'+ eventGuest.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
