<div>
    <h2>
        <span jhiTranslate="eosApp.eventGuestCsv.home.title">Event Guest Csvs</span>
        <button class="btn btn-primary float-right jh-create-entity create-event-guest-csv" [routerLink]="['/', { outlets: { popup: ['event-guest-csv-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="eosApp.eventGuestCsv.home.createLabel">
            Create new Event Guest Csv
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="eventGuestCsvs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="eosApp.eventGuestCsv.fileName">File Name</span></th>
            <th><span jhiTranslate="eosApp.eventGuestCsv.fileData">File Data</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let eventGuestCsv of eventGuestCsvs ;trackBy: trackId">
                <td><a [routerLink]="['../event-guest-csv', eventGuestCsv.id ]">{{eventGuestCsv.id}}</a></td>
                <td>{{eventGuestCsv.fileName}}</td>
                <td>{{eventGuestCsv.fileData}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../event-guest-csv', eventGuestCsv.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event-guest-csv/'+ eventGuestCsv.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event-guest-csv/'+ eventGuestCsv.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
