<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEventGuestCsvLabel" jhiTranslate="eosApp.eventGuestCsv.home.createOrEditLabel">Create or edit a Event Guest Csv</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!eventGuestCsv.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="eventGuestCsv.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eosApp.eventGuestCsv.fileName" for="field_fileName">File Name</label>
            <input type="text" class="form-control" name="fileName" id="field_fileName"
                [(ngModel)]="eventGuestCsv.fileName" required />
            <div [hidden]="!(editForm.controls.fileName?.dirty && editForm.controls.fileName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fileName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eosApp.eventGuestCsv.fileData" for="field_fileData">File Data</label>
            <textarea class="form-control" name="fileData" id="field_fileData"
                [(ngModel)]="eventGuestCsv.fileData" required ></textarea>
            <div [hidden]="!(editForm.controls.fileData?.dirty && editForm.controls.fileData?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fileData?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
