
<div *ngIf="eventGuestCsv">
    <h2><span jhiTranslate="eosApp.eventGuestCsv.detail.title">Event Guest Csv</span> {{eventGuestCsv.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="eosApp.eventGuestCsv.fileName">File Name</span></dt>
        <dd>
            <span>{{eventGuestCsv.fileName}}</span>
        </dd>
        <dt><span jhiTranslate="eosApp.eventGuestCsv.fileData">File Data</span></dt>
        <dd>
            <span>{{eventGuestCsv.fileData}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'event-guest-csv/'+ eventGuestCsv.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
