
<!--CONTENT SECTION-->

        <div class="left-section">
            <div class="left-menu">
                <ul>
                    <li class="{{sidemenu.selectedmenu=='MEMBERS'?'act':''}}"><a (click)="goToAddMember()" id="add_member">Member Management</a></li>
                    <li class="{{sidemenu.selectedmenu=='EVENTS'?'act':''}}"> <a (click)="gotoEvents()" >Event Management</a></li>
                </ul>
            </div>
        </div>
     
        <!-- <router-outlet></router-outlet>   -->
        