<div class="container member-container">
    <div class="heading">
        <h1>
            <i class="c-password" *ngIf="account"></i>CHANGE PASSWORD</h1>
    </div>
    <div class="form-section change-password">
        <form name="passwordForm" id="passwordForm" role="form" #passwordForm="ngForm">
            <div class="row">
                <div class="col-xs-12">
                    <label for="">OLD PASSWORD</label>
                    <input type="password" id="oldpassword" name="oldpassword" #oldpasswordin="ngModel" [(ngModel)]="oldpassword" minlength=6
                        maxlength=16 required>
                    <div *ngIf="oldpasswordin.errors && isFormSubmited">
                        <small class="errorText" [hidden]="!oldpasswordin.errors.required">
                            Old password is required.
                        </small>
                        <small class="errorText" [hidden]="!oldpasswordin.errors.minlength">
                            Old password length must be between 6 to 16 characters.
                        </small>
                        <small class="errorText" [hidden]="!oldpasswordin.errors.maxlength">
                            Old password length must be between 6 to 16 characters.
                        </small>
                    </div>
                </div>
                <div class="col-xs-12">
                    <label for="">NEW PASSWORD</label>
                    <input type="password" id="password" name="password" #passwordInput="ngModel" [(ngModel)]="password" minlength=6 maxlength=16
                        required>
                    <div *ngIf="passwordInput.errors && isFormSubmited">
                        <small class="errorText" [hidden]="!passwordInput.errors.required">
                            Password is required.
                        </small>
                        <small class="errorText" [hidden]="!passwordInput.errors.minlength">
                            Password length must be between 6 to 16 characters.
                        </small>
                        <small class="errorText" [hidden]="!passwordInput.errors.maxlength">
                            Password length must be between 6 to 16 characters.
                        </small>
                    </div>
                    <div class="errorText" *ngIf="!checkOldPassword() && isFormSubmited && oldpassword && password && !passwordInput.errors">
                        New Password should not be same as old password
                    </div>
                </div>
                
                <div class="col-xs-12">
                    <label for="">CONFIRM PASSWORD</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" [(ngModel)]="confirmPassword"
                        minlength=6 maxlength=16 required>
                    <div *ngIf="confirmPasswordInput.errors && isFormSubmited">
                        <small class="errorText" [hidden]="!confirmPasswordInput.errors.required">
                            Confirm password is required.
                        </small>
                        <small class="errorText" [hidden]="!confirmPasswordInput.errors.minlength">
                            Confirm password length must be between 6 to 16 characters.
                        </small>
                        <small class="errorText" [hidden]="!confirmPasswordInput.errors.maxlength">
                            Confirm password length must be between 6 to 16 characters.
                        </small>
                    </div>
                    <div *ngIf="!checkforspace() && isFormSubmited && confirmPassword && password && !confirmPasswordInput.errors">
                        <p class="errorText">
                            Password can not start with white space.
                        </p>
                    </div>
                    <div class="errorText" *ngIf="!checkpassword() && checkforspace() && isFormSubmited && confirmPassword && password && !confirmPasswordInput.errors">
                        Password and confirm password do not match.
                    </div>
                </div>
                <div class="col-xs-12 button-col">
                    <a (click)="gotoback()" class="btn grey-btn">CANCEL</a>
                    <input type="submit" (click)="changePassword(passwordForm)" value="SUBMIT" class="btn">
                </div>
            </div>
        </form>
    </div>
</div>
</div>