#view-events-screen .desc{
    text-overflow: ellipsis;
    line-height: 1.2;
    text-align: justify;
}
#view-events-screen .title{
    text-overflow: ellipsis;
    white-space: nowrap;
}
.headerelipse{
    white-space: nowrap;
    width: 15em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.disabled{
    opacity: 0.4;
  }