<router-outlet></router-outlet>

<div class="right-section">
    <h1>
        Member Management
        <a [routerLink]="['/member-create']" class="add-button add-member">
            <i></i> Add New Member</a>
    </h1>

    <div class="list-block event-list">
        <div class="head">Member List</div>
        <div class="head-row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-3">
                <span>Member Name</span>
                <a class="m-name"></a>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-4 col-xs-3">
                <span>Member Email</span>
                <a class="m-mail"></a>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-1 col-xs-3">
                <span>Edit Member</span>
                <a class="m-edit"></a>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-1 col-xs-3">
                <span>Delete Member</span>
                <a href="javascript:void();" class="m-delete"></a>
            </div>
        </div>
        <div class="" *ngIf="isRes && members && members.length<=0">
            <p style="text-align:center;">No Member Found !</p>
        </div>
        <!-- <span infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="10" *ngIf="isRes"> -->
        <div *ngFor="let member of members; let i = index">
            <div class="list-row white" *ngIf="i%2==0">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-3">
                    <span>{{member.user.firstName}} {{member.user.lastName}}</span>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-4 col-xs-3">
                    <span>{{member.user.email}}</span>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-1 col-xs-3">
                    <a (click)="editMember(member.id)" class="edit-m"><u>Edit {{member.user.firstName}}</u></a>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-1 col-xs-3">
                    <a class="delete-m" [routerLink]="['/', { outlets: { popup: 'eos-member/'+ member.id + '/delete'} }]" replaceUrl="true"><u>Delete {{member.user.firstName}}</u></a>
                    <!-- <a class="delete-m" (click)="deleteMember(member.id,i)" [routerLink]="['/', { outlets: { popup: 'eos-member/'+ member.id + '/delete'} }]" replaceUrl="true">Delete {{member.user.firstName}}</a> -->
                </div>
            </div>
            <div class="list-row grey" *ngIf="i%2!=0">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-3">
                    <span>{{member.user.firstName}} {{member.user.lastName}}</span>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-4 col-xs-3">
                    <span>{{member.user.email}}</span>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-1 col-xs-3">
                    <a (click)="editMember(member.id)" class="edit-m"><u>Edit {{member.user.firstName}}</u></a>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-1 col-xs-3">
                    <a class="delete-m" [routerLink]="['/', { outlets: { popup: 'eos-member/'+ member.id + '/delete'} }]" replaceUrl="true"><u>Delete {{member.user.firstName}}</u></a>
                </div>
            </div>
        </div>
    </div>
    <!-- </span> -->
    <div class="pagination" *ngIf="isRes && members && members.length!=0 && pages.length > 1">
        <span>
            <a (click)="onPrev()" class="previousback" [attr.disabled]=" isFirst ? '' : null" [ngClass]="{'disabled' : isFirst}">Previous</a>
        </span>
        <span *ngFor="let p of pages; let i=index">
            <span *ngIf="first<=i+1 && i+1<=last">
                <a (click)="setPage(i,$event)" [ngClass]="{'act':i==page}">{{i+1}}</a>
            </span>
        </span>
        <span>
            <a (click)="onNext()" class="previousback" [attr.disabled]=" isLast ? '' : null" [ngClass]="{'disabled' : isLast}">Next</a>
        </span>
        <span class="pagedisplay">Page {{page +1}} of {{pages.length}}</span>
    </div>
</div>