<section class="">
<div class="container member-container">
    <div class="heading">
        <h1>
            <i class="add-member" *ngIf="isMemberes"></i>{{member_id ? 'EDIT':'ADD'}} MEMBER</h1>
    </div>
    <div class="form-section add-edit-member">
        <form id="memberForm" role="form" #memberForm="ngForm" name="memberForm">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <label for="">FIRST NAME</label>
                    <input type="text" name="firstname1" id="field_first_name" [(ngModel)]="memberuser.firstName" #firstname="ngModel" minlength="2"
                        maxlength="50" required (ngModelChange)="trim(memberuser,'firstName')" tabindex="1" />
                    <div *ngIf="firstname.errors && isFormSubmited" class="error-text">
                        <span class="errorText" [hidden]="!firstname.errors.required">
                            First Name is required.
                        </span>
                        <span class="errorText" [hidden]="!firstname.errors.minlength">
                            First Name length must be between 2 to 50 characters.
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <label for="">LAST NAME</label>
                    <input type="text" name="lastname" id="field_last_name" [(ngModel)]="memberuser.lastName" #lastname="ngModel" minlength="2"
                        maxlength="50" required (ngModelChange)="trim(memberuser,'lastName')" tabindex="1" />
                    <div *ngIf="lastname.errors && isFormSubmited" class="error-text">
                        <span class="errorText" [hidden]="!lastname.errors.required">
                            Last Name is required.
                        </span>
                        <span class="errorText" [hidden]="!lastname.errors.minlength">
                            Last Name length must be between 2 to 50 characters.
                        </span>
                    </div>
                </div>
                <div class="col-xs-12">
                    <label for="">EMAIL</label>
                    <input type="text" placeholder="jason@email.com" placeholder="" name="email" id="field_email" [(ngModel)]="memberuser.login"
                        #email="ngModel" maxlength="50" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required minlength="6"
                        tabindex="1" />

                    <div *ngIf="email.errors && isFormSubmited" class="error-text">
                        <span class="errorText" [hidden]="!email.errors.required">
                            Email is required.
                        </span>
                        <span class="errorText" [hidden]="!email.errors.pattern">
                            Email is Invalid.
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 checkbox-col">
                    <label for="">FLOOR</label>
                    <div class="">
                        <div class="check-box width100">
                            <input type="checkbox" id="selectall" [(ngModel)]="checkall" class="" tabindex="1" name="selectall" (change)="onSelectall($event)">
                            <label for="selectall">Select all</label>
                        </div>
                        <div class="check-box" *ngFor="let floor of floors">
                            <input type="checkbox" id="{{floor.floorNo}}" [(ngModel)]="floor.checked" tabindex="1" name="{{floor.floorNo}}" (change)="onAllChange($event)">
                            <label for="{{floor.floorNo}}">{{floor.floorNo}}</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div *ngIf="isFormSubmited && !isFloorValid()" class="error-text">
                        <span class="errorText">
                            Please select atleast one floor.
                        </span>
                    </div>
                </div>
                <div *ngIf="isfloor">
                    <span class="errorText">
                        No Floor found.
                    </span>
                </div>
                <div class="col-sm-6 col-xs-12 date-picker">
                    <label for="">FROM</label>
                    <div class="" (click)="showFromDatePicker=!showFromDatePicker;$event.stopPropagation();">
                        <input type="text" placeholder="YYYY/MM/DD" class="" id="field_from_date" name="fromdate" #fromdate readonly value="{{(member.fromDate) ?  (member.fromDate | date: 'yyyy/MM/dd') : 'yyyy/mm/dd'}}"
                            required tabindex="1" />
                        <!--placeholder="Start Date YYYY/MM/DD"-->
                        <i class="fa fa-calendar-o input-icon"></i>
                    </div>
                    <div *ngIf="showFromDatePicker" (click)="$event.stopPropagation()">
                        <!--style="min-height:290px;"-->
                        <datepicker class="date-picker-ui" name="from_date_calendar" [(ngModel)]="member.fromDate" #fromdate="ngModel" (selectionDone)="onDone()">
                        </datepicker>
                    </div>
                    <div *ngIf="isFormSubmited && !isfromdate() ">
                        <span class="errorText">
                            From date is required.
                        </span>
                    </div>
                </div>                 
                <div class="col-sm-6 col-xs-12  date-picker">
                    <label for="" class="to-date">TO</label>
                    <div class="" (click)="showToDatePicker=!showToDatePicker;$event.stopPropagation();">
                        <input type="text" placeholder="" class="" id="field_to_date" name="todate" #fromdate readonly value="{{(member.toDate) ?  (member.toDate | date: 'yyyy/MM/dd') : 'yyyy/mm/dd'}}"
                            tabindex="1" />
                        <!--placeholder="Start Date YYYY/MM/DD"-->
                        <i class="fa fa-calendar-o input-icon"></i>
                    </div>

                    <div *ngIf="showToDatePicker" (click)="$event.stopPropagation()">
                        <datepicker class="date-picker-ui" name="to_date_calendar" [(ngModel)]="member.toDate" #fromdate="ngModel" (selectionDone)="onDone()">
                        </datepicker>
                    </div>
                    <div *ngIf="isFormSubmited && !isDateValid()">
                        <span class="errorText">
                            To Date should be greater then or equal to from date.
                        </span>
                    </div>
                    <div *ngIf="!isValidDate() && isFormSubmited && member.toDate && isDateValid()">
                        <span class="errorText">
                            Please select future date.
                        </span>
                    </div>
                    <!-- <div *ngIf="isFormSubmited && !isSelectedFromDate()">
                        <span class="errorText">
                            Please select To Date.
                        </span>
                    </div> -->

                </div>
                <div class="clearfix"></div>
                <div class="col-sm-6 col-xs-12">
                    <label for="">FROM TIME</label>
                    <div class="" (click)="showStartTimePicker=!showStartTimePicker;$event.stopPropagation();">
                        <input type="text" placeholder="Start Time" class="" id="field_start_time" name="start_time"
                        value="{{ member.startTime | date: 'hh:mm:a'}}"  readonly required tabindex="1"/>
                        <i class="fa fa-clock-o input-icon font18"></i>
                    </div>
                    <div *ngIf="showStartTimePicker" (click)="$event.stopPropagation()"> 
                        <timepicker class="timepicker" [(ngModel)]="member.startTime" name="start_time_picker" #start_time_picker="ngModel" (selectionDone)="onDone()" >
                        </timepicker>
                    </div>
                    
                </div>
                <div class="col-sm-6 col-xs-12">
                    <label for="" class="to-date">TO</label>
                    <div class="" (click)="showEndTimePicker=!showEndTimePicker;$event.stopPropagation();">
                        <input type="text" placeholder="End Time" class="" id="field_end_time" name="end_time"
                        value="{{ member.endTime | date: 'hh:mm:a'}}"  readonly required tabindex="1"/>
                        <i class="fa fa-clock-o input-icon font18"></i>
                    </div>
                    <div *ngIf="showEndTimePicker" (click)="$event.stopPropagation()"> 
                        <timepicker class="timepicker" [(ngModel)]="member.endTime" name="end_time_picker" #end_time_picker="ngModel" (selectionDone)="onDone()" >
                        </timepicker>
                    </div>
                    <div *ngIf="isFormSubmited && !isDateTimeValid()">
                        <span class="errorText">
                            End date time should be greater than start date time.
                        </span>
                      </div>
              
                </div>
                <div class="col-xs-12 button-col">
                    <a (click)="clear()" class="btn grey-btn" tabindex="1">CANCEL</a>
                    <input type="submit" (click)="save(memberForm)" class="btn" value="{{member_id ? 'SAVE':'SUBMIT'}}" tabindex="1">
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</section>