body {
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    color: #000;
    font-family: 'Open Sans', sans-serif;
        background: #f1f1f1 !important;
    }
    body, html {
    height: 100%;
    width: 100%
    }
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, images, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0 none;
    font-size: 100%;
    vertical-align: baseline
    }
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
    }
    .outer{position: absolute;
        top: 50%;
        transform: translateY(-50%);width: 100%;text-align: center;}
    h1{color:#ad002d; font-size:22vh;font-weight:700;line-height:22vh;font-family: 'Open Sans', sans-serif;}
    h3{color: #999; font-size:18px;font-weight:400;padding-top:15px;font-family: 'Open Sans', sans-serif;}
    h2{color: #999; font-size:30px; font-weight:700;text-transform: uppercase;font-family: 'Open Sans', sans-serif;}