<header>
    <div class="container">
        <div class="logo pull-left"><a><img src="../../../content/images/logo-2.png" alt=""/></a></div>
        <div class="clearfix"></div>
    </div>
</header>

<section class="content-wrappper">
        <div class="container member-container">
            <div class="heading">
                <h1><i class="m-register"></i>MEMBER REGISTRATION</h1>
            </div> 
         
            <div class="alert alert-danger" style="text-align: center;" jhiTranslate="reset.finish.messages.keymissing" *ngIf="keyMissing">
                <strong></strong>
            </div>
            <div class="register-success" style="text-align: center;" *ngIf="success">
                <i class="registersuccess"></i>
                <strong>Registration has been done successfully, please check your email to download mobile app.</strong>
            </div>
            <div class="form-section change-password" *ngIf="!keyMissing">
                <form name="passwordForm" id="passwordForm" role="form" (ngSubmit)="finishReset(passwordForm)" #passwordForm="ngForm" *ngIf="!success">
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="">PASSWORD</label>
                            <input type="password" id="password" name="password" #passwordInput="ngModel"
                            placeholder="New password"
                            [(ngModel)]="resetAccount.password" minlength=6 maxlength=16 required>
                            <div *ngIf="passwordInput.errors  && isFormSubmited">
                                <small class="errorText"
                                    *ngIf="passwordInput.errors.required" [hidden]="!passwordInput.errors.required">
                                    Password is required.
                                </small>
                                <small class="errorText"
                                    *ngIf="passwordInput.errors.minlength" [hidden]="!passwordInput.errors.minlength">
                                    Password length must be between 6 to 16 characters.
                                </small>
                                <small class="errorText"
                                    *ngIf="passwordInput.errors.maxlength" [hidden]="!passwordInput.errors.maxlength">
                                    Password cannot be longer than 16 characters.
                                </small>
                            </div>
                            <div *ngIf="!checkforspace() && isFormSubmited && resetAccount.password && confirmPassword && !passwordInput.errors">                
                                <p class="errorText">
                                    Password can not start with white space.
                                </p>
                            </div> 
                        </div>
                        
                        <div class="col-xs-12">
                            <label for="">CONFIRM PASSWORD</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                            placeholder="Confirm the new password"
                            [(ngModel)]="confirmPassword" minlength=6 maxlength=16 required>
                            <div *ngIf="confirmPasswordInput.errors && isFormSubmited">
                                <small class="errorText"
                                    *ngIf="confirmPasswordInput.errors.required" [hidden]="!confirmPasswordInput.errors.required">
                                    Confirm password is required.
                                </small>
                                <small class="errorText"
                                    *ngIf="confirmPasswordInput.errors.minlength" [hidden]="!confirmPasswordInput.errors.minlength">
                                    Confirm password length must be between 6 to 16 characters.
                                </small>
                                <small class="errorText"
                                    *ngIf="confirmPasswordInput.errors.maxlength" [hidden]="!confirmPasswordInput.errors.maxlength">
                                    Confirm password cannot be longer than 16 characters.
                                </small>
                            </div>
                            <div class="errorText" *ngIf="!checkpassword() && isFormSubmited && confirmPassword && resetAccount.password && !confirmPasswordInput.errors">
                                Password and confirm password do not match.
                            </div>
                        </div>
                        
                        <div class="col-xs-12 button-col">
                            <input type="submit" value="SUBMIT" class="btn">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
<footer>
    <span>&copy; 2017-Edge Inc | All Rights Reserved</span>
</footer>
