.loader-hidden {
    visibility: hidden;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    cursor: progress;
    background-color: rgba(0,0,0,0.8);
}
#load{
      width: 100%;
      height: 100%;
      z-index:9999;
      position:fixed;
     
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    background:url("../../../content/images/loading70x70.png")no-repeat center center
      
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
  
}