<!--HEADER-->
<header>
  <div class="container" *ngIf="account && authorized">
      <div class="logo pull-left"><a (click)="goToHome()"><img src="../../content/images/logo-2.png" alt=""/></a></div>
      <div class="menu-col dropdown pull-right">
          <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="user-icon"><img src="../../content/images/user-icon.png" alt=""/></i>
              <span class="user-name" *ngIf="account">{{account.firstName || 'Welcome'}} {{account.lastName || 'user'}}</span>
              <i class="caret"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item c-pass-i" (click)="changepassword()" id="changepassword">Change Password</a>
              <a class="dropdown-item logout-i" (click)="logout()" id="logout">Logout</a>
          </div>
      </div>
      <div class="clearfix"></div>
  </div>
</header>
<!--END HEADER-->
<section class="content-wrappper" *ngIf="account && authorized" (click)="releaseAllPicker($event)">
    <div class="container">
      <router-outlet class="test1"></router-outlet>   
    </div>
</section>
<!--CONTENT SECTION-->

<!--FOOTER-->
<footer *ngIf="account && authorized">
  <span>&copy; 2018-EdgeOf Inc | All Rights Reserved</span>
</footer>