
<div *ngIf="eosMember">
    <h2><span jhiTranslate="eosApp.eosMember.detail.title">Eos Member</span> {{eosMember.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="eosApp.eosMember.fromDate">From Date</span></dt>
        <dd>
            <span>{{eosMember.fromDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="eosApp.eosMember.toDate">To Date</span></dt>
        <dd>
            <span>{{eosMember.toDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="eosApp.eosMember.licenceKey">Licence Key</span></dt>
        <dd>
            <span>{{eosMember.licenceKey}}</span>
        </dd>
        <dt><span jhiTranslate="eosApp.eosMember.floor">Floor</span></dt>
        <dd>
            <span *ngFor="let floor of eosMember.floors; let last = last">
                <a [routerLink]="['/floor', floor?.id ]">{{floor.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'eos-member/'+ eosMember.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
