<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEosMemberLabel" jhiTranslate="eosApp.eosMember.home.createOrEditLabel">Create or edit a Eos Member</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!eosMember.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="eosMember.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eosApp.eosMember.fromDate" for="field_fromDate">From Date</label>
            <div class="d-flex">
                <input id="field_fromDate" type="datetime-local" class="form-control" name="fromDate" [(ngModel)]="eosMember.fromDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eosApp.eosMember.toDate" for="field_toDate">To Date</label>
            <div class="d-flex">
                <input id="field_toDate" type="datetime-local" class="form-control" name="toDate" [(ngModel)]="eosMember.toDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eosApp.eosMember.licenceKey" for="field_licenceKey">Licence Key</label>
            <input type="text" class="form-control" name="licenceKey" id="field_licenceKey"
                [(ngModel)]="eosMember.licenceKey" required />
            <div [hidden]="!(editForm.controls.licenceKey?.dirty && editForm.controls.licenceKey?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.licenceKey?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="eosApp.eosMember.floor" for="field_floor">Floor</label>
            <select class="form-control" id="field_floor" multiple name="floor" [(ngModel)]="eosMember.floors">
                <option [ngValue]="getSelected(eosMember.floors, floorOption)" *ngFor="let floorOption of floors; trackBy: trackFloorById">{{floorOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
