<div>
    <h2>
        <span jhiTranslate="eosApp.eosMember.home.title">Eos Members</span>
        <button class="btn btn-primary float-right jh-create-entity create-eos-member" [routerLink]="['/', { outlets: { popup: ['eos-member-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="eosApp.eosMember.home.createLabel">
            Create new Eos Member
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="eosMembers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fromDate"><span jhiTranslate="eosApp.eosMember.fromDate">From Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="toDate"><span jhiTranslate="eosApp.eosMember.toDate">To Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="licenceKey"><span jhiTranslate="eosApp.eosMember.licenceKey">Licence Key</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let eosMember of eosMembers ;trackBy: trackId">
                <td><a [routerLink]="['../eos-member', eosMember.id ]">{{eosMember.id}}</a></td>
                <td>{{eosMember.fromDate | date:'medium'}}</td>
                <td>{{eosMember.toDate | date:'medium'}}</td>
                <td>{{eosMember.licenceKey}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../eos-member', eosMember.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'eos-member/'+ eosMember.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'eos-member/'+ eosMember.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
