body{font-family:'Fira Sans',sans-serif;background:#f8f7f7;font-weight:400;color:#3c3c3c}
.body-color{
    background:#fff;
}
ul, li {list-style: none;margin: 0;padding: 0;cursor: pointer;}
a{cursor: pointer;}
a:hover {text-decoration: none!important;}
a, a image {border: 0 none;outline: none !important;}
a, a:focus {text-decoration: none;outline: none !important;}
.container {position: relative;}
input, button, textarea {outline: 0}
.container-fluid {padding-left: 0;padding-right: 0;}
.errorText{color: red;font-size: 12px;}
a,button{outline:0!important}
.dropdown-backdrop{display: none;}
.align-center{text-align:center}
.btn{background:#ad002d;padding:14px;width:100%;height:48px;color:#fff;font-weight:700;text-align:center;text-transform:uppercase;border-radius:5px;font-size:16px;letter-spacing:.8px}
.btn:focus, .btn:hover{color:#fff;background:#d00e40;}
.btn:visited,.btn:hover{color:#fff}
.grey-btn{background:#3c3c3c}
.margin-top-30{margin-top:30px}
.margin-top-20{margin-top:20px}
.container{width:1200px}
.member-container{width:900px}
.disabled{opacity: 0.5;cursor:none;}
.form-section input[type="text"],.form-section input[type="password"],.form-section textarea,.form-section input[type="email"]{padding:10px 15px;font-size:14px;color:#333;font-weight:500;width:100%;border-radius:4px;margin-bottom:10px;box-shadow:none;border:1px #c4c4c4 solid;height:48px}
timepicker datepicker{ cursor: pointer;}
.form-section textarea{height:auto}
.form-section .check-box input[type="checkbox"]{opacity: 0;position: absolute;}
.form-section a.forgot,.form-section .check-box label{color:#3c3c3c;font-size:13px;font-weight:500}
.form-section a.forgot:hover{color:#a90022}
.form-section .check-box label{position:relative;padding-left:30px}
.form-section .check-box label:before{position:absolute;border:2px #c4c4c4 solid;content:'';height:20px;width:20px;left:0;top:0;border-radius:1px}
.form-section .check-box label:after{opacity:.2;content:'';position:absolute;width:9px;height:6px;background:transparent;top:6px;left:6px;border:1px solid #fff;border-top:none;border-right:none;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
.form-section .check-box input[type=checkbox]:checked + label:after{opacity:1}
.form-section .check-box input[type=checkbox]:checked + label:before{background:#a90022;border-color:#a90022}
.form-section input::-webkit-input-placeholder{color:#b5b5b5}
.form-section input::-moz-placeholder{color:#b5b5b5}
.form-section input:-ms-input-placeholder{color:#b5b5b5}
.form-section input:-moz-placeholder{color:#b5b5b5}
.login-col .logo{text-align:center}
.login-col{width:400px;margin:0 auto;left:0;right:0;display:table;position:absolute;height:100%}
.login-container{display:table-cell;vertical-align:middle}
.login-col input[type="submit"]{font-size:14px;}
.login-col input[type="text"], .login-col input[type="password"]{font-size:13px;}
.login-col .logo span{font-size:14px;color:#9a9a9a;display:block;text-align:center;padding:20px 0}
.login-col a,.login-col label{margin-top:5px}
.forgot-password .logo span{font-size:36px;color:#3c3c3c;text-transform:uppercase;font-weight:300}
.forgot-password .back-login{text-align:center;padding-top:15px}
.forgot-password .back-login a{font-size:14px}
.forgot-password .back-login a i{width:30px;height:30px;background:url(../images/sprite.png) no-repeat left top;display:inline-block;margin-right:7px;margin-bottom:-6px}
.forgot-password .back-login a:hover{color:#a90022}
header{background:#fff;border-bottom:1px #d3d2d2 solid;position: fixed;right: 0; left: 0;z-index: 100;}
header .logo{padding:17px 0}
.menu-col{padding-top:22px}
.menu-col .user-name{font-size:13px;color:#3c3c3c;text-transform:uppercase;font-weight:600;padding:5px}
.user-icon{width:37px;height:37px;border-radius:100%; border:1px #ddd solid;}
.user-icon img{width:36px;height:36px;border-radius:100%;}
.menu-col .dropdown-menu{background:#fff;border:1px #adadad solid;border-radius:10px;margin:0;min-width:180px;left:50px}
.menu-col .dropdown-menu::before{width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:10px solid #3C3B3C;position:absolute;content:'';top:-11px;left:45%}
.menu-col .dropdown-menu a{font-size:14px;color:#3c3c3c;padding:11px 10px 9px 48px;display:block;border-bottom:1px #e5e5e5 solid;position:relative}
.menu-col .dropdown-menu a:hover{color:#d1002a}
.menu-col .dropdown-menu a:last-child{border:0}
.menu-col .dropdown-menu a::before{position:absolute;content:'';width:28px;height:28px;background:url(../images/sprite.png) no-repeat left top;left:14px;top:7px}
.menu-col .dropdown-menu a.logout-i::before{background-position:-46px -7px}
.menu-col .dropdown-menu a.c-pass-i::before{background-position:-87px -7px}
.menu-col .caret{border-top:6px dashed #3C3B3C;border-right:5px solid transparent;border-left:5px solid transparent}
.menu-col .caret:hover{cursor:pointer}
.content-wrappper{padding:120px 0 80px 0;min-height:500px}
.left-section{width:270px;position:absolute;left:20px;top:54px}
.left-menu{border:1px #cacaca solid;border-radius:5px;background:#fff;}
.left-menu a{border-bottom:1px #e5e5e5 solid;padding:15px;font-size:16px;display:block;color:#3c3c3c;position:relative}
.left-menu li{border-radius:5px}
.left-menu li.act a{background:#555;color:#fff}
.left-menu li:nth-child(1) a{border-radius:5px 5px 0 0}
.left-menu li.act a::before{width:0;height:0;border-top:9px solid transparent;border-left:9px solid #fff;border-bottom:9px solid transparent;position:absolute;content:'';top:16px;right:15px}
.left-menu li.act a::after{width:0;height:0;border-top:9px solid transparent;border-left:9px solid #555;border-bottom:9px solid transparent;position:absolute;content:'';top:16px;right:18px}
.right-section{position:relative;margin-left:310px}
.right-section h1{font-size:22px;font-weight:400;padding-left:5px}
.right-section h1 .add-button{ padding:4px 15px; height: 30px; background:#ad002d; font-size:14px; font-weight:600;border-radius:4px; color: #fff; display: block; float: right; margin-top: -3px;}
.right-section h1 .add-button:hover{background:#555;}
.right-section .add-member i{ width: 16px; height: 16px;background:url(../images/sprite.png) no-repeat -132px -12px; border-radius:50%; display:inline-block; margin:3px 5px -3px 0;}
.list-block{border:1px #cacaca solid;border-radius:5px;background:#fff}
.list-block .head{background:#555;color:#fff;font-size:14px;padding:11px 20px;border-radius:5px 5px 0 0;border-bottom:1px #d1002a solid}
.list-block .head-row,.list-block .list-row{display:table;width:100%}
.list-block .head-row > div,.list-block .list-row > div{padding:13px 12px 11px;border-right:#e5e5e5 solid 1px;border-bottom:#e5e5e5 solid 1px}
.list-block .list-row > div{padding:11px 12px 9px}
.list-block .head-row > div:last-child,.list-row > div:last-child{border-right:0}
.list-block .head-row span{font-size:14px}
.list-block .head-row a{position:absolute;right:12px;top:9px;content:'';width:26px;height:26px;background:url(../images/sprite.png) no-repeat left top;border:1px #d1002a solid;border-radius:100%}
.list-block .head-row a.m-name{background-position:-8px -48px}
.list-block .head-row a.m-mail{background-position:-167px -9px}
.list-block .head-row a.m-date{background-position:-48px -48px}
.list-block .head-row a.m-edit{background-position:-88px -48px}
.list-block .head-row a.m-delete{background-position:-128px -48px}
.list-row.white{background:#fff}
.list-row.grey{background:#f4f4f4}
.list-row > div:nth-child(2),.list-row > div:nth-child(3),.list-row > div:nth-child(4){text-align:left;}
.list-row span{text-overflow: ellipsis; overflow: hidden; white-space: pre; display: block;color:#000;font-size:14px;}
.list-row a{color:#000;font-size:14px;position:relative; padding-left:30px; text-overflow: ellipsis; overflow: hidden; white-space: pre; display: block;}
.list-row a::before{left:0px;position:absolute;content:'';width:20px;height:20px;background:url(../images/sprite.png) no-repeat left top}
.list-row a.edit-m::before{background-position:-10px -90px}
.list-row a.edit-date::before{background-position:-91px -91px}
.list-row a.delete-m::before{background-position:-53px -90px}
.list-row a.title::before{background : none !important;}
.list-row a.title{margin-left: -30px;}
.list-block .list-row:last-child > div{border-bottom:0;border-radius:0 0 5px 5px}
.content-wrappper .heading{text-align:center;padding-bottom:30px}
.content-wrappper .heading h1{font-size:36px;color:#3c3c3c;font-weight:300}
.content-wrappper .heading i{width:60px;height:60px;display:inline-block;margin-bottom:-17px}
.content-wrappper .heading i.add-member{background:url(../images/sprite.png) no-repeat -142px -140px}
.content-wrappper .heading i.add-event{background:url(../images/sprite.png) no-repeat -73px -138px}
.content-wrappper .heading i.c-password{background:url(../images/sprite.png) no-repeat 0 -142px}
.content-wrappper .heading i.m-register{background:url(../images/sprite.png) no-repeat -142px -75px}
.member-container .form-section .row > div{padding-left:105px;margin:11px 0 0; min-height: 78px;}
.member-container .form-section .row > div > label{position:absolute;left:15px;top:15px;font-weight:400}
.member-container .form-section .row .checkbox-col{padding-bottom:15px;padding-top:5px; min-height:inherit;}
.member-container .form-section .row .checkbox-col > label{top:8px}
.member-container .form-section .check-box label{font-weight:600;font-size:14px;color:#3c3c3c}
.member-container .form-section .check-box{float:left;margin-right:25px}
.member-container .form-section .row > div > label.to-date{left:70px}
.button-col{text-align:center;padding-top:30px}
.button-col a,.button-col input{width:180px;display:inline-block;height:40px;padding:10px;margin:0 5px;font-size:14px}
.add-event-col{width:450px;margin:0 auto}
.form-section.add-event-col .row > div{margin:9px 0}
.form-section.add-event-col .row > div > label{left:0}
.form-section.add-event-col .button-col{padding-top:25px}
.form-section.add-event-col .button-col a,.form-section.add-event-col .button-col input{width:173px;margin:0}
.form-section.add-event-col .button-col a{margin-right:20px}
.change-password{width:490px;margin:0 auto}
.form-section.change-password .row > div > label{left:0}
.form-section.change-password .button-col{padding-top:0}
.form-section.change-password .button-col a,.form-section.change-password .button-col input{width:163px;margin:0}
.form-section.change-password .button-col a{margin-right:20px}
.member-container .form-section.change-password .row > div{padding-left:155px}
footer{background:#747474;padding:15px;text-align:center;position: fixed; bottom: 0; left: 0;right: 0;}
footer span{color:#fff}
.modal-open .fade {opacity: 1 !important;}
.modal-backdrop.fade{opacity:0.5 !important;}
.alerts{position: fixed; margin: auto;left: 0;right: 0;width: max-content; max-width: -moz-fit-content; max-width: -webkit-fit-content;text-align: center; z-index: 9999; top:12px;}
.alerts > div:first-child{ display: table; margin:auto;}
.alerts p{display:inline-block;}
.modal-header{background: #555;}
.modal-header h4{color:#fff;}
.modal .modal-dialog{width: 400px; margin: 20px auto;}
.modal .modal-dialog .modal-body{padding:0 15px;}
.modal .modal-dialog .modal-body p{padding:22px 15px 0px; font-size: 20px; text-align:center;}
.modal h4{font-size:24px;}
.modal-footer{border: none !important;}
.modal .btn{height: 30px; font-size:14px; padding: 5px;}
.multipal-btn .btn{width: 48.3%; float: left;}
.modal.fade .modal-dialog{transform: none;}
.modal-header .close {margin-top: 2px;font-size: 28px; color:#fff; opacity: 1;}
.alert-danger button.close:focus, .alert-danger button.close:hover, .alert-danger button.close{color: #fff; opacity: 1;}
.alert-success button.close:focus, .alert-success button.close:hover, .alert-success button.close{color: #3c763d; opacity: 1;}
.alert-danger{color: #fff;background-color: #ad002d;border-color: #ad002d;}
.alert-success {background-color: #dff0d8;border-color: #d0e9c6;color: #3c763d;}
.file-input{padding: 10px 15px;font-size: 14px;color: #333;font-weight: 400;width: 100%;border-radius: 4px;margin-bottom: 10px;box-shadow: none;border: 1px #c4c4c4 solid;height: 48px;background: #fff;}
.modal-footer .btn:nth-child(1){ background:#999;}
.register-success{ border: 1px #ddd solid;padding:20px;background: #fff;}
.register-success strong{font-size: 16px;}
.register-success i{width: 50px; height: 50px; display: block; margin:0 auto 30px;background:url(../images/success_icon.png) no-repeat;}
.pagination > span a{ display:inline-block; padding:5px 10px; border-radius:5px; border:1px #aaa solid;font-size: 13px;color:#333}
.pagination > span a.previousback{ background:#555;color: #fff }
.pagination > span a:hover, .pagination > span a.act{color: #fff; background:#ad002d;}
.modal .modal-dialog .modal-body p b{word-break: break-word; font-size: 20px;}
.timepicker .btn{ background:none; color:#ad002d; height: auto;padding:0 !important;border: none;}
.timepicker .form-control{ padding:5px !important; margin:5px 0 0;}
.disabled{ cursor: not-allowed; }
.upload-btn-wrapper {overflow: hidden;float: left;margin: 0 5px -16px 0;position: relative;}
.upload-btn {border: 1px solid #999;color:#666;background-color:#DDD;padding:5px 0;border-radius:5px;font-size:16px;height: 42px;width:120px;cursor: pointer;}
.upload-btn-wrapper input[type=file] {height: 42px;position: absolute;top: 0;opacity: 0;cursor: pointer;width:120px;}
.upload-data {max-width: 300px;overflow: hidden; white-space: pre;text-overflow: ellipsis;display: block;position: relative;padding: 5px 5px 5px 0;float: left;margin-top: 9px;}
.roundi{border: 1px red solid;width: 24px;height: 25px;position: absolute;text-align: center;border-radius: 50%;color: red;font-size: 16px;font-style: normal;cursor: pointer;top: 12px;}

@media screen and (min-width:960px){
    .date-picker .btn{padding:2px 10px; height: 40px;}
    .date-picker .btn span{font-size: 12px;}
    .date-picker .well table{margin: auto;}
    .menu-col .dropdown-menu{top:70px; left: 0;}
}
@media screen and (min-width:768px) and (max-width:1180px) {
    .container{width: 96%;}
    .menu-col .dropdown-menu{left: auto; right: -20px;top: 63px;}
    .menu-col .dropdown-menu::before{top:-11px;left:auto;right:16px;}
    .content-wrappper .container{padding: 0;}
    .left-section{left:0; width:220px;}
    .right-section{margin-left:230px;}
    .content-wrappper{padding:90px 0 50px;}
    .member-container .form-section.add-edit-member .row > div.button-col{padding-left: 15px; padding-top: 10px; padding-bottom: 20px;}
    .member-container .form-section .row > div.button-col{padding-top: 10px; padding-bottom: 20px;}
    .list-block.member-list .head-row .col-md-2:nth-child(2) span, .list-block.member-list .head-row .col-md-2:nth-child(3) span,
    .list-block.member-list .head-row .col-sm-2:nth-child(2) span, .list-block.member-list .head-row .col-sm-2:nth-child(3) span{ display: none;}
    .list-block.member-list .head-row .col-md-2:nth-child(2) a, .list-block.member-list .head-row .col-md-2:nth-child(3) a,
    .list-block.member-list .head-row .col-sm-2:nth-child(2) a, .list-block.member-list .head-row .col-sm-2:nth-child(3) a{ left: 0; right: 0; margin:auto;}
    .list-block.member-list .list-row a{text-indent: -9999px; display: block; overflow: inherit;}
    .list-block.member-list .list-row a::before, .list-block.event-list .list-row .col-sm-1:nth-child(3) a::before, .list-block.event-list .list-row .col-sm-1:nth-child(4) a::before, .list-block.event-list .list-row .col-sm-1:nth-child(5) a::before{border: 1px #d1002a solid;border-radius: 100%;width: 26px;height: 26px; left: 0; right: 0; margin: 0 auto;top:-4px;}
    .list-block.member-list .list-row a.edit-m::before, .list-block.event-list .list-row .col-sm-1:nth-child(3) a.edit-m::before, .list-block.event-list .list-row .col-sm-1:nth-child(4) a.edit-m::before{background-position: -88px -48px;}
    .list-block.member-list .list-row a.delete-m::before, .list-block.event-list .list-row .col-sm-1:nth-child(3) a.delete-m::before, .list-block.event-list .list-row .col-sm-1:nth-child(4) a.delete-m::before{background-position: -128px -48px;}
    .list-block.member-list .head-row > div, .list-block.event-list .head-row > div{min-height:45px; }
    .list-block.event-list .list-row .col-sm-1:nth-child(3) a, .list-block.event-list .list-row .col-sm-1:nth-child(4) a, .list-block.event-list .list-row .col-sm-1:nth-child(5) a{text-indent: -9999px; display: block; overflow: inherit;}
    .list-block.event-list .head-row span{font-size: 12px;}
    .list-block.event-list .list-row .col-sm-1:nth-child(3), .list-block.event-list .list-row .col-sm-1:nth-child(4){padding:11px 0 9px;}
    .list-block .head-row{ display: none;}
    .list-row span{text-overflow: ellipsis; overflow: hidden; white-space: pre; display: block;width: auto;}
    footer{padding: 5px; font-size: 12px;}
    .list-block .list-row > div{display: grid;}
    .list-block.event-list .list-row a.delete-m::before {background-position: -128px -48px;}
}
@media screen and (min-width:768px) and (max-width:960px) {
    .list-block.event-list .head-row .col-sm-1:nth-child(3) span, .list-block.event-list .head-row .col-sm-1:nth-child(4) span, .list-block.event-list .head-row .col-sm-1:nth-child(5) span{ display: none;}
    .list-block.event-list .head-row .col-sm-1:nth-child(3) a, .list-block.event-list .head-row .col-sm-1:nth-child(4) a, .list-block.event-list .head-row .col-sm-1:nth-child(5) a{ left: 0; right: 0; margin:auto;}
    .date-picker .btn{padding:2px 4px; height: 36px;}
    .list-row span{text-overflow: ellipsis; overflow: hidden; white-space: pre; display: block;width: auto;}
}
@media screen and (max-width:767px) {
    .alerts{top:5px;}
    .list-row span{width: auto;}
    .list-block .list-row > div{display: grid;}
    footer{padding: 5px; font-size: 12px;}
    .date-picker .btn{padding:2px 6px; height: 40px;}
    .date-picker .btn span{font-size: 12px;}
    .date-picker .well table{margin: auto;}
    header .logo{padding:10px 0;}
    header .logo img{width: 120px;}
    .container {width:94%;padding: 0;}
    .menu-col{padding-top:14px;}
    .user-icon {width:28px;height:28px;border-radius: 100%;}
    .user-icon img{width:27px;height:27px;border-radius: 100%;}
    .right-section{margin: 0;}
    .menu-col .dropdown-menu{left: auto; right: 0; top: 49px;}
    .menu-col .dropdown-menu::before{top:-11px;left:auto;right:70px;}
    .left-section{position: relative; top: auto; left: auto; width:100%;}
    .list-block .list-row:last-child > div{    border-bottom: #e5e5e5 solid 1px;}
    .list-block .list-row > div div:last-child{border-bottom:0;}
    .left-menu{padding-bottom: 0;border-bottom: 0;}
    .left-menu ul{margin: 0; display:table;width: 100%;}
    .content-wrappper{padding:60px 0 50px; min-height: inherit;}
    .left-menu li{width: 50%;float: left;}
    .left-menu li a{ font-size:14px;padding:10px 15px;word-break: break-word;}
    .left-menu li:nth-child(1) a {border-radius: 5px 0 0 5px;}
    .left-menu li:nth-child(2) a {border-radius:0 5px 5px 0;}
    .left-menu li.act a::after, .left-menu li.act a::before {display: none;}
    .list-block .list-row > div{padding:13px 12px 11px; }
    .list-block.event-list .list-row > div:nth-child(3) a, .list-block.event-list .list-row > div:nth-child(4) a, .list-block.event-list .list-row > div:nth-child(5) a{text-indent: -9999px; display: block;}
    .list-block.event-list .list-row > div:nth-child(3) a::before, .list-block.event-list .list-row > div:nth-child(4) a::before, .list-block.event-list .list-row > div:nth-child(5) a::before{border: 1px #d1002a solid;border-radius: 100%;width: 26px;height: 26px; left: 0; right: 0; margin: 0 auto;top:-4px;}
    .list-block.event-list .list-row a.edit-m::before {background-position: -88px -48px;}
    .list-block.event-list .list-row a.delete-m::before {background-position: -128px -48px;}
    .content-wrappper .heading{padding-bottom:18px;}
    .form-section.add-event-col .button-col, .add-edit-member .button-col{padding-top: 5px;padding-bottom: 10px;}
    .list-block.member-list .list-row > div:nth-child(1){width:60%;}
    .list-block.member-list .list-row > div:nth-child(2), .list-block.member-list .list-row > div:nth-child(3){ width:20%;}
    .list-block.member-list .list-row a{text-indent: -9999px; display: block;}
    .list-block.member-list .list-row a::before{border: 1px #d1002a solid;border-radius: 100%;width: 26px;height: 26px; left: 0; right: 0; margin: 0 auto;top:-4px;}
    .list-block.member-list .list-row a.edit-m::before {background-position: -88px -48px;}
    .list-block.member-list .list-row a.delete-m::before {background-position: -128px -48px;}
    .list-block .head-row, .menu-col .caret{display: none;}
    .content-wrappper .heading h1{font-size:28px;}
    .member-container .form-section .row .checkbox-col > label {top: 0;display: block;}
    .member-container .form-section .row > div{margin: 5px 0;}
    .member-container .form-section .check-box{margin-bottom: 10px;margin-right:19px;}
    .list-row a{ overflow: inherit;}
    .alert{width: auto;left: 15px;right: 15px;position: fixed;padding: 10px;}
    .alert-dismissable .close, .alert-dismissible .close {position: absolute;top:28%;right: 15px;}
    .modal h4 {font-size:18px;}
    .modal .modal-dialog .modal-body p, .modal .modal-dialog .modal-body p b{font-size: 14px;}
    .modal .btn {height: 36px;font-size: 14px;padding: 7px;}
    .modal-header {padding:13px 15px 11px;}
    .modal-header .close{margin-top: -3px;}
    .list-block .list-row:last-child > div{border-radius: 0 !important;}
    .upload-data{margin-top: 4px;}
    .roundi{top: 7px;}
}
@media screen and (min-width:480px) and (max-width:767px){
    .left-menu li.act a::after{top: 16px;}
    .left-menu li.act a::before { top:17px;}
    .list-block.event-list .list-row > div:nth-child(1){width:50%;}
    .list-block.event-list .list-row > div:nth-child(2){ width:25%;}
    .list-block.event-list .list-row > div:nth-child(3), .list-block.event-list .list-row > div:nth-child(4){ width:12.5%;}
    .list-block.event-list .head-row{display: none;}
    .left-menu li a{font-size: 16px;}
    .list-block.event-list .list-row a.edit-date{ padding-left: 25px;}
    .list-block.event-list .list-row a.edit-date::before{ left: 0;}
    .login-col{padding:20px 0;}
    .member-container .form-section .row > div > label.to-date {left: 15px;}
    .member-container .form-section.add-edit-member .row > div.button-col{padding-left: 15px;}
    .list-block.event-list.multi-event-list .list-row > div:nth-child(1){ width:40%;}
    .list-block.event-list.multi-event-list .list-row > div:nth-child(2), .list-block.event-list.multi-event-list .list-row > div:nth-child(3){ width:17%;}
    .list-block.event-list.multi-event-list .list-row > div:nth-child(4), .list-block.event-list.multi-event-list .list-row > div:nth-child(5){ width:13%;}
    .list-block.event-list.multi-event-list .list-row a.edit-date{padding-left: 0;text-align:center;}
    .list-block.event-list.multi-event-list .list-row > div:nth-child(3) a{text-indent: 0px;}
    .list-block.event-list.multi-event-list .list-row a.edit-date::before{display: none;}
    .upload-data {max-width: 145px;}
    .alert-dismissable .close, .alert-dismissible .close {top:21%;}
}
@media screen and (min-width:320px) and (max-width:735px){
    .width100{width: 100%;}
}    
    
@media screen and (max-width:479px) {
    .list-block{clear: both;}
    .content-wrappper .heading i.add-member{background-position:-151px -140px;}
    .content-wrappper .heading i{width: 50px;}
    .forgot-password .logo span{font-size:26px;}
    .login-col{width:86%;}
    .right-section h1{text-align: center;}
    .add-event-col, .change-password, .add-edit-member{width:94%; margin: auto;}
    .right-section h1 .add-button {float: none;display: table;margin: 10px auto 15px auto;clear: both;}
    .list-block.event-list .list-row > div:nth-child(1){width:100%;}
    .list-block.event-list .list-row > div:nth-child(2){ width:60%;}
    .list-block.event-list .list-row > div:nth-child(3), .list-block.event-list .list-row > div:nth-child(4){ width:20%;}
    .list-block.event-list.multi-event-list .list-row > div:nth-child(2), .list-block.event-list.multi-event-list .list-row > div:nth-child(3){ width:33%;}
    .list-block.event-list.multi-event-list .list-row > div:nth-child(4), .list-block.event-list.multi-event-list .list-row > div:nth-child(5){ width:17%;}
    .list-block.event-list.multi-event-list .list-row a.edit-date{padding-left: 0;text-align:center;}
    .list-block.event-list.multi-event-list .list-row > div:nth-child(3) a{text-indent: 0px;}
    .list-block.event-list.multi-event-list .list-row a.edit-date::before{display: none;}
    .member-container .form-section .row > div, .member-container .form-section.change-password .row > div{padding-left: 15px;}
    .member-container .form-section .row > div > label{position: relative; top: 0; font-size: 14px; left: 0;}
    .form-section.add-event-col .button-col a, .form-section.add-event-col .button-col input,
    .form-section.change-password .button-col a, .form-section.change-password .button-col input,
    .add-edit-member .button-col a, .add-edit-member .button-col input{width:120px;}
    .modal .modal-dialog{width: 90%;}
    .member-container .form-section .row > div > label.to-date{left: 0;}
    .left-menu li a{padding: 10px 28px; font-size: 16px;}
    .menu-col .user-name{    text-overflow: ellipsis;overflow: hidden; white-space: pre;display:inline; margin-bottom:-10px;}
    .menu-col.dropdown > a.dropdown-toggle{ position: relative; max-width:210px;display: block;text-align: right;text-overflow: ellipsis;overflow: hidden; white-space: pre; padding-bottom:9px;}
    .menu-col.dropdown > a.dropdown-toggle i.user-icon{display: inline-block; position:absolute; left: auto;}
    .menu-col.dropdown > a.dropdown-toggle span{ display: inline-block;padding:5px 0 0 33px;}
    .list-row a.title {margin-left: -10px;}
    .button-col{padding-left: 0;padding-right: 0;}
    .upload-btn{height: 38px;}
    .upload-data {max-width: 190px;}
    .alert-dismissable .close, .alert-dismissible .close {position: absolute;top: 1px;right: 6px;}
    .alert p{margin: 0 20px 10px 0;}
    
}
@media screen and (max-width:360px) {
    .left-menu li a{padding: 10px 16px;}
    .pagedisplay{display: block;text-align: center;margin-top: 10px;}
    .menu-col.dropdown > a.dropdown-toggle{width: 170px;}
    .list-row a.title {margin-left: -20px;}
    .upload-data {max-width: 145px;}
    .alert p{margin: 0 20px 10px 0;}
    .alert-dismissable .close, .alert-dismissible .close {position: absolute;top: 1px;right: 6px;}
}
@media screen and (max-width:320px) {
    .list-row a.title {margin-left: -25px;}
    .upload-data {max-width: 145px;}
    .upload-btn{width: 90px;}
    .alerts p{margin: 0px 20px 10px;}
}    
@media screen and (max-width:375px) {
    .list-row a.title {margin-left: -17px;}
    .upload-data {max-width: 145px;}
    .alert-dismissable .close, .alert-dismissible .close {position: absolute;top: 1px;right: 6px;}
    .alert p{margin: 0 20px 10px 0;}
}    

