<div>
    <h2>
        <span jhiTranslate="eosApp.floor.home.title">Floors</span>
        <button class="btn btn-primary float-right jh-create-entity create-floor" [routerLink]="['/', { outlets: { popup: ['floor-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="eosApp.floor.home.createLabel">
            Create new Floor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="floors">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="eosApp.floor.floorNo">Floor No</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let floor of floors ;trackBy: trackId">
                <td><a [routerLink]="['../floor', floor.id ]">{{floor.id}}</a></td>
                <td>{{floor.floorNo}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../floor', floor.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'floor/'+ floor.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'floor/'+ floor.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
