<div class="login-col form-section forgot-password" *ngIf="authorized">
    
    <div class="login-container">
      <div class="logo">
          <img src="../../../../content/images/logo.png" alt=""/>
          <span>FORGOT PASSWORD ?</span>
       </div>
       <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset(resetRequestForm)" #resetRequestForm="ngForm">
            <div class="row">
                <div class="col-xs-12">
                    <input type="text" id="email" name="email" placeholder="EMAIL ADDRESS"
                    [(ngModel)]="forgetpassword.email" minlength=6 maxlength=50 #emailInput="ngModel" 
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                    <div *ngIf="emailInput.errors && isFormSubmited" class="error-text">
                        <span class="errorText" [hidden]="!emailInput.errors.required">
                            Email is required.
                        </span>
                        <span class="errorText" [hidden]="!emailInput.errors.pattern">
                            Email is Invalid.
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 margin-top-20">
                    <input type="submit" value="SUBMIT" class="btn">
                </div>
                <div class="col-xs-12 back-login">
                    <a (click)="backtologin()" class="forgot"><i></i>Back to Login</a>
                </div>                
            </div>
        </form>
        <div class="col-xs-12 back-login" *ngIf="success === 'OK'" >
            <div class="btn" (click)="backtologin()" jhiTranslate="global.messages.goback.login"><i>Back to Login</div>
        </div>
    </div>
</div>